<div class="container">
    <div class="headingName">Tests</div>
    <div class="font_12">Selected</div>
    <span class="tests">ECG &nbsp;X</span>
    <span class="tests">Exercise Stress Test &nbsp;X</span>
    <span class="tests">Creatine Kianse &nbsp;X</span>
    <span class="tests">Blood Test &nbsp;X</span>
    <div class="font_12">Search</div>
    <input list="doctors" type="text" autocomplete="off" name="doctors">

    <datalist id="doctors">
        <option value="ECG">
        <option value="Exercise Stress Test">
        <option value="Creatine Kianse">
        <option value="Blood Test">
    </datalist>
</div>