<div class="container">
    <div class="headingName">Vitals<span><button type="button" class="btn btn-outline-secondary">Edit</button></span></div>
    <div class="row">
        <div class="col-md-3 col-6 font_12">
            <div class="margin">ECG</div>
            <div class="margin">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="red" class="bi bi-heart" viewBox="0 0 16 16">
                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                </svg>
            </div>
            <div  class="margin">79<span style="opacity: 0.5; margin-left: 1rem;">BPM</span></div>
        </div>
        <div class="col-md-3 col-6 font_12">
            <div class="margin">Temperature</div>
            <div class="margin">
                <img src="../../../../../../../assets/images/temperature.png" style="height: 25px;">
            </div>
            <div  class="margin">37<span style="opacity: 0.5; margin-left: 1rem;">C</span></div>
        </div>
        <div class="col-md-3 col-6 font_12">
            <div class="margin">Diabetes</div>
            <div class="margin">
                <img src="../../../../../../../assets/images/16266-200.png" style="height: 25px;">
            </div>
            <div  class="margin">300<span style="opacity: 0.5; margin-left: 1rem;">mg/dl</span></div>
        </div>
        <div class="col-md-3 col-6 font_12">
            <div class="margin">Respiration Rate</div>
            <div class="margin">
               <img src="../../../../../../../assets/images/respiration.png" style="height: 25px;">
            </div>
            <div  class="margin">14<span style="opacity: 0.5; margin-left: 1rem;">BPM</span></div>
        </div>
    </div>
</div>