<div class="container">
    <div class="headingName">Recommendation</div>
    <div class="row">
        <div class="col-8">
            <div class="font_12">Search</div>
            <input list="doctors" type="text" autocomplete="off" name="doctors">

            <datalist id="doctors">
                <option value="Dr.Susan Light">
                <option value="Dr. Alan Adam">
                <option value="Dr. John Doe">
                <option value="Dr. Zing Mathew">
            </datalist>
        </div>
        <div class="col-4">
            <div class="doctors">Dr. Robert Dommino &nbsp;X</div>
        </div>
    </div>
</div>